.mainContent {
	border-radius: 15px;
}

.mainContent__top {
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		display: block;
		padding-bottom: calc(80 / 120 * 100%); /* тут подбирается %, чтобы соответствовать нужным пропорциям картинки */
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}