@import "../../variables";

.users {
	padding: 1rem 1rem;
}

.users__title {
	margin-bottom: 1rem;
}

.pagination__list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	justify-content: flex-end;

	li {
		margin-right: 5px;
	}
}

.users__List {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	margin-bottom: 2rem;
}

.userCard {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 15px;
}

.userCard__top {
	padding-bottom: 20%;
	// background: url("https://www.centarahotelsresorts.com/sites/g/files/yplzxh136/files/2020-08/centara-reserve-1.jpg");
	border-radius: 15px 15px 0 0;
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		padding-bottom: calc(80 / 140 * 100%); /* тут подбирается %, чтобы соответствовать нужным пропорциям картинки */
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
	}
}

.userCard__bottom {
	display: flex;
	padding: 1rem;
}

.imageWrapper {
	border-radius: 50%;
	width: 90px;
	height: 90px;
	background: #ffffff;
	margin-top: -35px;
	z-index: 2;
}

.image {
	border-radius: 50%;
	padding: 5px;
}
