.textField {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 1rem;
	row-gap: 1rem;
	margin-bottom: 1rem;
}
.textField__input {
	resize: vertical;
	border-radius: 1rem;
	font-size: 16px;
	border: 2px #f1f1f1 solid;
	box-shadow: rgba(70, 70, 70, 0.05) 0px 8px 30px 0px;
	padding: 1rem 2rem;
	color: #474646b4;
	height: 100px;
	outline: none;
}

.textField__btnWrapper {
	justify-self: end;
}

.btn {
	font-weight: 600;
	text-align: center;
	padding: 0.5rem 2rem;
	border-radius: 30px;
	line-height: 20px;
	letter-spacing: 0.4px;
	display: inline-block;
	border: 2px #f1f1f1 solid;
	background-color: #eee;
	color: #343a40;
	width: fit-content;
	cursor: pointer;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

.btn:hover {
	background: #05f;
	color: #fff;
	box-shadow: rgba(0, 0, 0, 0.2) 1px 5px 5px 0px;
	border: 2px #05f solid;
}
