.friend {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.friend__image {
	border-radius: 50%;
	width: 3rem;
}

.friend__name {
	font-weight: 600;
	font-size: 14px;
	color: #6b6b6b;
}
