
.app-wrapper {
	display: grid;
	grid-template-columns: 2fr 8fr;
	grid-template-rows: 70px 1fr;
	grid-template-areas:
		"header header"
		"nav content";
	gap: 10px;
	background: #fbfcfe;
	color: #333333;
	max-width: 1400px;
	margin: 0 auto;
	padding-top: 1rem;
}

.app__content {
	grid-area: content;
	padding: 1rem 2rem;
}
