.dialogs__wrapper {
	display: grid;
	grid-template-columns: 3fr 7fr;
	height: 100%;
}

.chat {
	padding: 1rem 2rem;
}

.chat img {
	border-radius: 50%;
	margin-right: 2rem;
}

.contacts {
	border-right: 2px solid rgba(0, 0, 0, 0.05);
	padding: 1rem 2rem;
}

.chat li {
	display: flex;
	align-items: flex-start;
	background: #fbfcfe;
	border-radius: 15px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	box-shadow: rgba(0, 0, 0, 0.05) 0 8px 30px 0;
	padding: 1rem 1rem;
	margin-bottom: 1rem;
}

.chat__newMessage {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 1rem;
	row-gap: 1rem;
	margin-bottom: 1rem;
}

.chat__message {
	color: #333333;
}

.textField__input {
	resize: vertical;
	border-radius: 1rem;
	font-size: 16px;
	border: 2px #f1f1f1 solid;
	box-shadow: rgba(70, 70, 70, 0.05) 0 8px 30px 0;
	padding: 1rem 2rem;
	color: #474646b4;
	height: 100px;
	outline: none;
}

.textField__btnWrapper {
	justify-self: end;
}

.btn {
	padding: 0.5rem 2rem;
	border-radius: 30px;
	line-height: 20px;
	display: inline-block;
	border: 2px #f1f1f1 solid;
	background-color: #eee;
	color: #343a40;
	width: fit-content;
	cursor: pointer;
	justify-self: end;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

.btn:hover {
	background: #05f;
	color: #fff;
	box-shadow: rgba(0, 0, 0, 0.2) 1px 5px 5px 0;
	border: 2px #05f solid;
}
